@import url(https://fonts.googleapis.com/css?family=Montserrat);


/*General Styles*/

/*
Commonly used colors: 
gray (background): #f7f5f4
dark: #232323, #343434
pink: #c65151
purple: #b06f87
*/

html{
    width: 100%;
    height: 100%;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: url('images/grayCursor.svg'), auto;	
    background-color: #f5f3f0 !important;
}

img{
    max-width: 400px;
}

