@import url(https://fonts.googleapis.com/css?family=Montserrat);


/*General Styles*/

/*
Commonly used colors: 
gray (background): #f7f5f4
dark: #232323, #343434
pink: #c65151
purple: #b06f87
*/

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}


.container{
    margin: 0 auto;
    vertical-align: middle;
    padding: 0;
    width: 100%;
    height: auto;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 50px; 
    margin-bottom: 60px
}

.navbar{
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    display: block;
}

.nav a{
    color: #343433 !important;
    font-weight: bold;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.nav a:hover{
    color:#b06f87 !important;
    font-weight: bold;
    top: -2px;
}

@media screen and (max-width: 44em){
    .navbar{
        display: none;
    }
}

h3{
    color: #282828;
    margin-bottom: 30px; 
    font-size: 30px;
    font-weight: bold;
}


#contact-button, #resume-button, #portfolio-button{
    border: none;
    border-radius: 25px;
    background-color: #b06f87;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

#contact-button:hover, #resume-button:hover, #portfolio-button:hover{
    color:#b06f87; 
    background: #ffffff;
    top: -3px;
}   

/*------------------------------------start of opening-segment------------------------------------------*/

/*opening-segment structure*/
#opening-segment{
    background: none;
    box-shadow: none;
}

#opening-segment .wrapper{
    padding-top: 90px;
    padding-bottom: 90px;
}

#opening-segment #name-logo{
    margin-bottom: 20px;
}

#subtitle{
    color: #232323; 
    font-weight: bold; 
    margin-bottom: 30px;
    margin-top: -10px;
}

@media screen and (max-width: 44em){
    #subtitle{
        font-size: 1em;
    }
}


.modal-content{
    background-color: #e8e8e8;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#the-modal a{
    text-align: center;
    margin: 7px;
}

#the-modal .row{
    display: inline-block;
    margin: 0; 
    margin-bottom: 20px;
}

#the-modal{
    text-align: center;
}


/*------------------------------------start of about-segment------------------------------------------*/

/*about-segment text (a)*/

#about-segment{
    background-color: #ebe1e7;
}

#about-segment a{
    text-decoration: none;
    color: #2f3c4c;
}

#about-segment .wrapper-2{
    width: 100%;
}

#about-segment p{
    font-size: 16px;
}

@media screen and (max-width: 44em){
    #about-segment p{
        font-size: 11px;
    }
}


#profile-picture{
    max-height: 320px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    position: relative;
    box-shadow: 10px 10px #b06f87;
}

/*skills Progress Bar */

#skills-segment{
    background-color: #ebd5e2;
}

.progress{
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.progress:hover{
    position: relative; 
    top: -3px;
}

.progress p{
    text-align: left;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

@media screen and (max-width: 44em){
    .progress p{
        font-size: 10px;
    }
}

.progress-bar{
    background: #2c2d2d;
    border-radius: 0;
    border: none;
}


/*----------------------------------start of projects-segment-------------------------------------*/

#projects-segment{
    background-color: #e3c8d8;
}

#projects-segment a{
    text-decoration: none;
    color: black;
}

#projects-segment h4{
    text-align: left;
}

#projects-segment a:hover{
    text-decoration: none;
    color: white;
}

#projects-segment img{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

#projects-segment img:hover{
    opacity: 0.7;
    cursor: pointer;
    position: relative; 
    top: -3px;
}


/*------------------------------------start of art-segment------------------------------------------*/

#art-segment{
    background-color: #d6b6c9;
}
#art-segment a{
    text-decoration: none;
    color: #c65151;
}

#art-segment a:hover{
    color:#333131;
}

#art-segment img{
    max-height: 450px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
    opacity: 0.3;
}

#art-segment .caption{
    width: 200px;
    height: 200px;
    transition: .5s ease;
    position: absolute;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
} 

#art-segment p{
    color: #282828;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#art-segment .img-responsive:hover{
    opacity: 1;
}

#art-segment .img-responsive:hover .caption{
    opacity: 1;
}


/*------------------------------------start of bottom-segment------------------------------------------*/

#bottom-segment{
    background-color: #dbd9d9;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#bottom-segment a, #the-modal a{
    display: inline;
    text-align: center;
    margin: 5px;
    font-size: 30px;
    text-decoration: none;
    color: #232323;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

#bottom-segment a:hover, #the-modal a:hover{
    color: #b06f87;
    position: relative; 
    top: -3px
}

#bottom-segment p{
    text-align: center;
}

.bottom-navbar{
    bottom: 0;
    width: 100%;
}