html{
    width: 100%;
    height: 100%;
}


@font-face {
    font-family: GothamPro;
    src: url(GothamPro-Medium.eot);
    src: url(gothamFont/GothamPro-Medium.woff2) format("woff2"),url(gothamFont/GothamPro-Medium.woff) 
    format("woff"),url(gothamFont/GothamPro-Medium.ttf) format("truetype"),url(gothamFont/GothamPro-Medium.svg#GothamPro-Medium) format("svg"),
    url(gothamFont/GothamPro-Medium.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: url('images/blueCursor.svg'), auto;	
    font-family: 'GothamPro' !important;
    background: #101526 !important;
    color: #b9e9ed !important;
}


/*Top Navigation Bar*/
.navbar{
    background-color: none;
}

.navbar .navbar-nav{
    margin: auto;
    vertical-align: middle;
}

.navbar .nav-item{
    font-size: 20px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white !important;
}

.navbar .nav-item:hover{
    font-size: 20px;
    color: #fff !important; 
}

section{
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;
    padding-left: 70px;
    padding-right: 60px;
    text-align: center;
    justify-content: center;
    position: relative;
}

.row{
    padding: 80px 100px 10px 100px; /*top right bottom left*/
}   

/* Icons */

.foxIcon{
    max-width: 150px;
}

.skillIcon{
    height: 120px;
    transition: transform .3s; /* Animation */
    margin-bottom: 10px;
}

.skillIcon:hover{
    transform: scale(1.1);
    cursor: url('images/blueCursor.svg'), auto;	
}

.skillCaption {
    display: block;
    font-size: 2em;
}

#skillRow{
    padding: 80px 170px 10px 170px; /*top right bottom left*/

}

/*Introduction*/

#introductionSection{
    margin-top: -30px;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    position: relative;
    bottom: 0;
    text-align: center;
}

.introductionText{
    text-align: center;
}

.sectionHeader{
    font-size: 50px;
}

/*Art*/
#artSection{
    position: relative;
}

.link{
    color: #D97F4D;
}
.link:hover{
    text-decoration: none;
    color: #D97F4D;
}

.artImage{
    display: inline-block;  
    max-width: 220px;
    transition: transform .3s; /* Animation */
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.artImage:hover{
    transform: scale(1.1);
    cursor: url('images/blueCursor.svg'), auto;	
    box-shadow: none;
}
/*Skills*/ 

#skillsSection{
    position: relative;
}

#skillsSection ul li{
    list-style: none;
    font-size: 3vh;
    font-weight: bold;
} 

#skillsSection .skillList{
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
}

/*Hello*/
