@import url(https://fonts.googleapis.com/css?family=Montserrat);


/*General Styles*/

/*
Commonly used colors: 
gray (background): #f7f5f4
dark: #232323, #343434
pink: #c65151
purple: #b06f87
*/

html{
    width: 100%;
    height: 100%;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: url('images/grayCursor.svg'), auto;	
    background-color: #161616 !important;
}

/* .mainContainer{
    bottom :0;
    background-image: url(images/wave.svg);
    background-position: center bottom;
    background-size: 100%;
    background-repeat: repeat-x;
} */

/*Top Navigation Bar*/
.navbar{
    background-color: none;
}

.navbar .navbar-nav{
    margin: auto;
    vertical-align: middle;
}

.navbar .nav-item{
    font-size: 20px;
    color: #ededed !important; 
}

.navbar .nav-item:hover{
    font-size: 20px;
    color: #D97F4D !important; 
}

.row{
    margin-top: 50px;
    padding-bottom: 100px; 
    width: 100%;
    padding-left: 70px;
    padding-right: 50px;
}
/*Introduction*/

.introductionText{
    float: right;
    text-align: right;
    margin-top: 15px;
    color: #ededed;
}

.sectionHeader{
    font-size: 50px;
    color: #ffffff;
}

/*Art*/

.artSection h2{
    color: #ededed;
}

.link{
    color: #7bb796;
}
.link:hover{
    text-decoration: none;
    color: #D97F4D;
}

.artImageWrapper{
    display: block;
}

#artImage{
    width: 250px;   
    margin-right: 10px;
    opacity: 0.7;
    transition: transform .3s; /* Animation */
}

#artImage:hover{
    transform: scale(1.2);
    opacity: 1;
    cursor: url('images/blueCursor.svg'), auto;	
}
/*Skills*/ 
.skillsSection h2{
    color: #ededed;
}

.skillsIconWrapper{
    display: block;
}

#skillsIcon{
    margin: 20px;
    max-width: 200px;
    opacity: 0.7;
    transition: transform .3s; /* Animation */
}

#skillsIcon:hover{
    transform: scale(1.2);
    opacity: 1;
    cursor: url('images/blueCursor.svg'), auto;	
}

/*Hello*/
.helloSection h2{
    color: #ededed;
}

.helloWrapper p{
    color: #ededed;
    font-size: 20px;
}
